.badge {
    min-width: 123px;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.badge--info {
    background-color: #DAE7FF;
    color: #0D49B4;
}

.badge--danger {
    background-color: #FEEEED;
    color: #F55453;
}

.badge--success {
    background-color: #E9F7E6;
    color: #3ABB60;
}


@media (width < 768px) {

    .badge {
        min-width: 0;
        /*width: fit-content;*/
        padding: 4px 12px;
        /*border-radius: 15px;*/
        font-size: 12px;
        line-height: 14px;
        /*text-align: center;*/
    }
}

