.badge {
    min-width: 123px;
    display: block;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.badge--success {
    background-color: #E9F7E6;
    color: #3ABB60;
}

.badge--danger {
    background-color: #FEEEED;
    color: #F55453;
}

.badge--completion {
    background-color: #F3F6FB;
    color: #0D49B4;
}

.badge--info {
    background-color: #DAE7FF;
    color: #0D49B4;
}



@media (width < 740px) {

    .badge {
        min-width: 0;
        padding: 4px 12px;
        font-size: 12px;
        line-height: 14px;
    }
}



.badge--smaller {
    min-width: 0;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 14px;
}
