.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button__icon {
    flex-shrink: 0;
    vertical-align: top;
    fill: currentColor;
}



@media (width < 768px) {

    .button {
        gap: 6px;
    }
}
