.button {
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    padding: 10px 24px 9px;
    min-width: 100px;
    background-color: #0D49B4;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #3575E7;
}

@media (width < 740px) {

    .button {
        gap: 6px;
    }
}
    .button__icon {
        margin-top: -2px;
        flex-shrink: 0;
        vertical-align: top;
        fill: currentColor;
    }


.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color: #000000;
    cursor: default;
}

.button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #0D49B4;
    color: #0D49B4;
}

.button--outline:hover {
    box-shadow: none;
    background-color: #3575E7;
    border-color: #3575E7;
    color: #FFFFFF;
}



.button--danger {
    background-color: #F55453;
    border-color: transparent;
}

.button--danger:hover {
    background-color: #FD6767;
    border-color: transparent;
}



@keyframes button-loading-spin {
    100% { transform: rotate(360deg); }
}

.button--loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;
}
    .button--loading::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-loading.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation: button-loading-spin 1s steps(12) infinite;
    }

    @media (1850px <= width) {
        .button--loading::after {
            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -14px;
        }
    }
