.doctor-card {
    display: grid;
    grid-template-columns: 80px 265px 374px;
    gap: 24px;
    padding: 16px 24px;
    box-shadow: inset 0 0 0 1px #D8DEE7;
    border-radius: 12px;
}
    .doctor-card__preview {

    }
        .doctor-card__image {
            border-radius: 12px;
        }

    .doctor-card__body {

    }
        .doctor-card__summary {
            font-size: 12px;
            line-height: 14px;
            color: #90A2AB;
        }

        .doctor-card__name {
            margin-top: 4px;
            font-size: 16px;
            line-height: 19px;
        }

        .doctor-card__note {
            margin-top: 4px;
            font-size: 12px;
            line-height: 14px;
            color: #90A2AB;
        }

        .doctor-card__rate {
            margin-top: 16px;
            font-size: 16px;
            line-height: 19px;
        }

    .doctor-card__appointment {

    }
        .doctor-card__day {

        }

        .doctor-card__time {
            margin-top: 20px;
            margin-left: 37px;
            margin-right: 37px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }


.doctor-card--selected {
    background-color: #EBF1F3;
    box-shadow: none;
}
    .doctor-card--selected .doctor-card__name {
        color: #024593;
    }


@media (width < 768px) {

    .doctor-card {
        position: relative;
        display: block;
        padding: 18px 16px;
        border-radius: 8px;
        overflow: hidden; /* обрезаем карусель */
    }
        .doctor-card__preview {
            position: absolute;
            left: 16px;
            top: 18px;
        }
            .doctor-card__image {
                width: 95px;
                height: 95px;
                border-radius: 8px;
            }

        .doctor-card__body {

        }
            .doctor-card__summary {
                margin-left: 105px;
                min-height: 105px;
            }

            .doctor-card__summary:first-child {

            }

            .doctor-card__name {
                margin-top: 8px;
            }

            .doctor-card__note {
                margin-top: 8px;
            }


    .doctor-card__appointment {
        margin-top: 16px;
    }
        .doctor-card__day {

        }

        .doctor-card__time {
            margin-left: 0;
            margin-right: 0;
        }


}
