.entries {

}
    .entries__head {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 24px 40px;
    }
        .entries__icon {
            vertical-align: top;
        }

        .entries__heading {
            font-family: inherit;
            font-size: 24px;
            line-height: 29px;
        }

        .entries__action {
            margin-left: auto;
        }

    .entries__body {
        border-top: 1px solid #D8DEE7;
    }
        .entries__appointments-row {
            display: flex;
            align-items: center;
            gap: 26px;
            padding: 16px 24px;
        }
            .entries__summary {
                width: 180px;
                flex-shrink: 0;
            }
                .entries__date-time {
                    font-size: 16px;
                    line-height: 19px;
                    white-space: nowrap;
                }

                .entries__status {
                    margin-top: 8px;
                }

            .entries__name {
                flex-grow: 1;
                font-size: 16px;
                line-height: 19px;
            }

            .entries__details {
                width: 200px;
                flex-shrink: 0;
            }
                .entries__branch {
                    font-size: 16px;
                    line-height: 19px;
                    white-space: nowrap;
                }

                .entries__room {
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #90A2AB;
                }

            .entries__operations {
                flex-shrink: 0;
            }

        .entries__more {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding-top: 12px;
            padding-bottom: 30px;
        }


        .entries__pass-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 26px;
            padding: 18px 24px 28px;
        }
            .entries__arrival {
                display: flex;
                align-items: center;
                gap: 26px;
            }
                .entries__arrival-date-and-time {

                }
                    .entries__arrival-date {
                        display: block;
                    }

                    .entries__arrival-time {
                        margin-top: 8px;
                        display: block;
                    }

                .entries__license {
                    font-size: 16px;
                    line-height: 19px;
                }

            .entries__expiration {
                font-size: 14px;
                line-height: 17px;
                color: #8D8D8D;
                text-align: center;
            }

            .entries__pass-status {
                text-align: center;
            }

            .entries__download {
                flex-shrink: 0;
            }



@media (width < 768px) {

    .entries {
        position: relative;
        padding-bottom: 83px;
    }
        .entries__head {
            /*display: flex;*/
            /*align-items: center;*/
            gap: 16px;
            padding: 24px 16px 16px;
        }
            .entries__icon {
                width: 60px;
                height: 60px;
                /*vertical-align: top;*/
            }

            .entries__heading {
                /*font-family: inherit;*/
                font-size: 20px;
                line-height: 24px;
            }

            .entries__action {
                /*margin-left: auto;*/
                position: absolute;
                bottom: 24px;
                left: 0;
                right: 0;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }

        .entries__body {
            position: relative;
            /*border-top: 1px solid #D8DEE7;*/
        }
            .entries__appointments-row {
                display: block;
                /*align-items: center;*/
                /*gap: 26px;*/
                padding: 12px 16px;
            }
                .entries__summary {
                    /*width: 180px;*/
                    /*flex-shrink: 0;*/
                }
                    .entries__date-time {
                        position: absolute;
                        right: 16px;
                        top: 13px;
                        font-size: 15px;
                        line-height: 18px;
                    }

                    .entries__status {
                        margin-top: 0;
                    }

                .entries__name {
                    margin-top: 16px;
                    /*flex-grow: 1;*/
                    /*font-size: 16px;*/
                    /*line-height: 19px;*/
                }

                .entries__details {
                    margin-top: 10px;
                    width: auto;
                    /*flex-shrink: 0;*/
                }
                    .entries__branch {
                        /*font-size: 16px;*/
                        /*line-height: 19px;*/
                        /*white-space: nowrap;*/
                    }

                    .entries__room {
                        /*margin-top: 8px;*/
                        /*font-size: 16px;*/
                        /*line-height: 19px;*/
                        /*color: #90A2AB;*/
                    }

                .entries__operations {
                    margin-top: 24px;
                    /*flex-shrink: 0;*/
                }

            .entries__more {
                /*width: fit-content;*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                /*padding-top: 12px;*/
                /*padding-bottom: 30px;*/
                position: absolute;
                right: 16px;
                top: 38px;
                padding: 0;
            }
                .entries__more .icon-action {
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    background-color: #ECEFF3;
                    border-radius: 50%;
                }
                    .entries__more .icon-action__icon {
                        position: absolute;
                        inset: 0;
                        margin: auto;
                    }


            .entries__pass-row {
                position: relative;
                display: block;
                padding: 12px 16px;
            }
                .entries__arrival {
                    display: block;
                    /*align-items: center;*/
                    /*gap: 26px;*/
                }
                    .entries__arrival-date-and-time {

                    }
                        .entries__arrival-date {
                            font-size: 15px;
                            line-height: 21px;
                        }

                        .entries__arrival-time {
                            margin-top: 0;
                            font-size: 15px;
                            line-height: 21px;
                        }

                    .entries__license {
                        margin-top: 16px;
                        /*font-size: 16px;*/
                        /*line-height: 19px;*/
                    }

                .entries__expiration {
                    margin-top: 24px;
                    /*font-size: 14px;*/
                    /*line-height: 17px;*/
                    /*color: #8D8D8D;*/
                    text-align: left;
                }

                .entries__pass-status {
                    position: absolute;
                    right: 16px;
                    top: 22px;
                    /*text-align: center;*/
                }

                .entries__download {
                    margin-top: 24px
                    /*flex-shrink: 0;*/
                }
}
