.event {
    position: relative;
    padding: 40px 24px 32px;
    font-size: 16px;
    line-height: 19px;
}
    .event__field {
        margin-top: 16px;
        line-height: 19px;
    }

    .event__field:first-child {
        margin-top: 0;
    }

    .event__back {
        margin-top: 12px;
    }

    .event__submit {
        width: fit-content;
        margin-top: 24px;
        margin-left: auto;
    }

    .event__alert {
        position: absolute;
        inset: 0;
        background-color: #FFFFFF;
        border-radius: var(--radius);
        display: none;
    }


@media (width < 740px) {

    .event {
        padding: 24px 16px 12px;
    }
        .event__field {
            margin-top: 22px;
        }

        .event__field:first-child {

        }

        .event__back {

        }
}
