.feedback {
    position: relative;
    padding: 40px 24px;
}
    .feedback__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: inherit;
    }

    .feedback__form {
        margin-top: 16px;
    }
        .feedback__field {
            margin-top: 16px;
        }

        .feedback__submit {
            margin-top: 24px;
            margin-left: auto;
            width: fit-content;
        }
            .feedback__submit .button {
                width: 100%;
            }


.feedback__alert {
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
    border-radius: var(--radius);
    display: none;
}



@media (width < 768px) {

    .feedback {
        padding: 24px 16px;
    }
        .feedback__heading {

        }
            .feedback__heading.title,
            .feedback__heading .title {
                font-size: 24px;
                line-height: 29px;
            }

        .feedback__form {

        }
            .feedback__field {

            }

            .feedback__submit {

            }
                .feedback__submit .button {

                }
}
