.icon-action {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: #0D49B4;
    text-decoration: none;
    cursor: pointer;
}
    .icon-action__icon {
        margin-top: -2px;
        vertical-align: top;
        fill: currentColor;
    }


.icon-action:hover {
    color: #3575E7;
}



.icon-action--grayed-out {
    color: #90A2AB;
}


.icon-action--blackened {
    color: #000000;
}



.icon-action--chevron-on-smartphone {

}


@media (width < 769px) {

    .icon-action--chevron-on-smartphone {
        position: relative;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        width: 32px;
        height: 32px;
        padding: 0;
        background-color: #ECEFF3;
        border-radius: 50%;
    }
        .icon-action--chevron-on-smartphone .icon-action__icon {
            position: absolute;
            inset: 0;
            margin: auto;
            fill: #3C3C3C;
        }
}
