.label {
    display: block; /* In case it is being followed by button or smaller input. We want it to be on a new line. */
    width: fit-content; /* Specify clickable area */
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #90A2AB;
}

@media (width < 740px) {

    .label {
        padding-bottom: 8px;
        font-size: 13px;
        line-height: 16px;
    }
}
