.new-appointment {
    position: relative;
    padding: 40px 24px;
}
    .new-appointment__progress {

    }

    .new-appointment__body {
        margin-top: 40px;
    }
        .new-appointment__choice {
            margin-top: 24px;
        }

        .new-appointment__choice:first-child {
            margin-top: 0;
        }

        .new-appointment__list {
            margin-top: 24px;
        }
            .new-appointment__doc {
                margin-top: 16px;
            }

            .new-appointment__doc:first-child {
                margin-top: 0;
            }

        .new-appointment__footer {
            margin-top: 24px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

    .new-appointment__alert {
        position: absolute;
        inset: 0;
        display: none;
    }



@media (width < 768px) {

    .new-appointment {
        padding: 40px 16px 24px;
    }

    .new-appointment__progress {

    }

    .new-appointment__body {

    }
        .new-appointment__choice {
            margin-top: 8px;
        }

        .new-appointment__choice:first-child {

        }

        .new-appointment__list {

        }
            .new-appointment__doc {

            }

            .new-appointment__doc:first-child {

            }

        .new-appointment__footer {

        }
}
