.new-pass {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 24px;
}
    .new-pass__progress {

    }

    .new-pass__body {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
        .new-pass__field {
            display: flex;
            align-items: flex-start;
            gap: 40px;
        }
            .new-pass__label {
                flex-grow: 1;
                margin-top: 17px;
                font-size: 16px;
                line-height: 19px;
            }

            .new-pass__widget {
                flex-basis: 561px;
            }

    .new-pass__price {
        border-top: 1px solid #0D49B4;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
    }
        .new-pass__price-label {
            font-size: 18px;
            line-height: 22px;
            color: #0D49B4;
        }

        .new-pass__price-value {
            font-size: 18px;
            line-height: 22px;
            color: #0D49B4;
        }

    .new-pass__footer {
        display: flex;
        justify-content: space-between;
    }



@media (width < 768px) {

    .new-pass {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*gap: 24px;*/
        /*padding: 40px 24px;*/
    }
        .new-pass__progress {

        }

        .new-pass__body {
            /*margin-top: 16px;*/
        }
            .new-pass__field {
                display: block;
            }
                .new-pass__label {
                    margin-top: 0;
                    padding-bottom: 8px;
                    font-size: 13px;
                    line-height: 16px;
                    color: #90A2AB;
                }

                .new-pass__widget {
                    /*flex-basis: 561px;*/
                    /*width: 561px;*/
                }

        .new-pass__price {
            /*border-top: 1px solid #0D49B4;*/
            /*padding-top: 16px;*/
            /*padding-bottom: 16px;*/
            /*display: flex;*/
            /*justify-content: space-between;*/
        }
            .new-pass__price-label {
                /*font-size: 18px;*/
                /*line-height: 22px;*/
                /*color: #0D49B4;*/
            }

            .new-pass__price-value {
                /*font-size: 18px;*/
                /*line-height: 22px;*/
                /*color: #0D49B4;*/
            }

        .new-pass__footer {
            /*display: flex;*/
            /*justify-content: space-between;*/
        }
}
