.param {
    display: flex;
    gap: 16px;
    padding: 24px;
    box-shadow: inset 0 0 0 1px #D8DEE7;
    background-color: transparent;
    color: #000000;
    border-radius: 12px;
    font-size: 18px;
    line-height: 22px;
}
    .param__icon {
        vertical-align: top;
        fill: currentColor;
    }



@media (width < 740px) {

    .param {
        gap: 12px;
        padding: 18px 16px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 19px;
    }
        .param__icon {
            margin-top: -1px;
        }
}



.param--selected {
    background-color: #EBF1F3;
    box-shadow: none;
    color: #024593;
}
