.window {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: var(--radius);
}
    .window__close {
        position: absolute;
        right: 18px !important;
        top: 18px !important;
        width: 44px;
        height: 44px;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden !important;
        opacity: 1;
    }
        .window__close::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            display: block;
            width: 32px;
            height: 32px;
            background-color: #EBF1F3;
            border-radius: 50%;
        }

        .window__close:hover::before {
            background-color: #E0E7E9;
        }

        .window__cross {
            position: absolute;
            inset: 0;
            margin: auto;
            width: 20px;
            height: 20px;
            fill: #3C3C3C;
            pointer-events: none;
        }



.window--auth {
    width: var(--modal-window);
}

@media (width < 768px) {

    .window--auth {
        width: 100%;
        max-width: 358px;
    }
}
