.window {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: var(--radius);
}
    .window__close {
        position: absolute;
        right: 18px !important;
        top: 18px !important;
        width: 44px;
        height: 44px;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden !important;
        opacity: 1;
    }
        .window__close::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            display: block;
            width: 32px;
            height: 32px;
            background-color: #EBF1F3;
            border-radius: 50%;
        }

        .window__close:hover::before {
            background-color: #E0E7E9;
        }

        .window__cross {
            position: absolute;
            inset: 0;
            margin: auto;
            width: 20px;
            height: 20px;
            fill: #3C3C3C;
            pointer-events: none;
        }



@media (width < 768px) {

    .window {

    }
        .window__close {
            right: 0 !important;
            top: 0 !important;
            width: 54px;
            height: 54px;
        }
            .window__close::before {
                width: 24px;
                height: 24px;
            }

            .window__close:hover::before {

            }

            .window__cross {
                width: 16px;
                height: 16px;
            }
}








.window--auth {
    width: var(--modal-window);
}

@media (width < 768px) {

    .window--auth {
        width: 100%;
        max-width: 358px;
    }
}



.window--feedback {
    width: 879px;
}
    .window--feedback .window__close {
        top: 34px !important;
    }

@media (width < 768px) {

    .window--feedback {
        width: 100%;
        max-width: 358px;
    }
        .window--feedback .window__close {
            top: 20px !important;
        }
}
