.wizard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6%;
    color: #90A2AB;
}
    .wizard__step {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
    }
        .wizard__index {
            margin-bottom: -2px;
            position: relative;
            flex-shrink: 0;
            font-size: 40px;
            line-height: 36px;
        }
            .wizard__check {
                position: absolute;
                top: 4px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                fill: currentColor;
                display: none;
            }

        .wizard__label {
            flex-shrink: 0;
            font-size: 18px;
            line-height: 18px;
            white-space: nowrap;
        }

    .wizard__arrow {
        flex-grow: 1;
        position: relative;
        min-width: 50px;
        height: 2px;
        background-color: currentColor;
    }
        .wizard__chevron {
            position: absolute;
            right: -2px;
            top: 50%;
            margin-top: -8px;
            width: 10px;
            height: 16px;
            fill: currentColor;
        }


.wizard__step--current {
    color: #0D49B4;
}


.wizard__step--current + .wizard__arrow {
    color: #0D49B4;
}



.wizard__step--passed {

}
    .wizard__step--passed .wizard__index {
        display: block;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }
    .wizard__step--passed .wizard__check {
        display: block;
    }

.wizard__step--passed:hover {
    color: #3575e7;
}



@media (width < 768px) {

    .wizard {
        gap: 12px;
    }

    @media (width < 350px) {
        .wizard {
            margin-left: -8px;
            margin-right: -8px;
        }
    }

        .wizard__step {
            gap: 8px;
        }
            .wizard__index {
                font-size: 32px;
                line-height: 30px;
            }

            .wizard__step:not(.wizard__step--current) .wizard__index {
                font-size: 24px;
            }
                .wizard__check {

                }

            .wizard__label {
                font-size: 15px;
                line-height: 15px;
            }

            @media (width < 350px) {
                .wizard__label {
                    font-size: 14px;
                }
            }

            .wizard__step:not(.wizard__step--current) .wizard__label {
                display: none;
            }

        .wizard__arrow {
            min-width: 20px;
        }
            .wizard__chevron {

            }


    .wizard__step--current {

    }


    .wizard__step--current + .wizard__arrow {

    }



    .wizard__step--passed {

    }
        .wizard__step--passed .wizard__index {
            text-indent: 0;
        }
        .wizard__step--passed .wizard__check {
            display: none;
        }

    .wizard__step--passed:hover {

    }
}
